<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @team.tag %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @team.is_active %>
</p>

<% if can? :update, @team %>
  <%= link_to "Düzenle", edit_team_path(@team) %>
<% end %>
<% if can? :destroy, @team %>
  <%= link_to "Sil gitsin", team_path(@team), method: :delete, data: { confirm: 'Oğlum bak emin misin?'} %>
<% end %>
