<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @team.tag %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @team.is_active %>
</p>

<% if current_user.team_id.nil? %>
  <%= link_to "Bu takım iyi buna katılayım", join_team_path(@team), method: :post %>
<% end %>
<% if current_user.team_id == @team.id %>
  <%= link_to "Ben sıkıldım bu takımdan yea", leave_team_path(@team), method: :delete %>
<% end %>
<% if can? :update, @team %>
  <%= link_to "Düzenle", edit_team_path(@team) %>
<% end %>
<% if can? :destroy, @team %>
  <%= link_to "Sil gitsin", team_path(@team), method: :delete, data: { confirm: 'Oğlum bak emin misin?'} %>
<% end %>
