<section id="login" class="content-section text-center">
  <div class="login-section">
    <div class="container">
      <div class="col-lg-4 col-lg-offset-4">
        <h2>GİRİŞ</h2>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <div class="form-group">
              <%= f.text_field :email, placeholder: "Kullanıcı adı", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Parola", class: "form-control" %>
            </div>
            <%= f.submit 'BIRAK GEÇEYİM', class: "btn btn-block btn-default btn-lg" %>
            <%= link_to "Parolam", new_password_path(:user) %> neydi ki benim?,
            yok yok ben en iyisi
            <%= link_to "kaydolayım", root_path, remote: true %>
          <% end %>
      </div>
    </div>
  </div>
</section>
