<section id="login" class="content-section text-center">
  <div class="login-section">
    <div class="container">
      <div class="col-lg-4 col-lg-offset-4">
        <h2>GİRİŞ</h2>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <div class="form-group">
              <%= f.text_field :email, placeholder: "Kullanıcı adı", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Parola", class: "form-control" %>
            </div>
            <%= f.submit 'GİRİŞ', class: "btn btn-default btn-lg" %>
            <%= link_to "KAYIT", root_path, remote: true, class: "btn  btn-default btn-lg" %>
            <br>
            <%= link_to "Parolam neydi ki benim?", new_password_path(:user) %>
          <% end %>
      </div>
    </div>
  </div>
</section>
