<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="devise-login">
  <section id="login">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-4 col-xs-offset-0 col-md-offset-4 pagination-centered">
                <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
                <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
                <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
                  <div class="form-wrap">
                      <h1>GİRİŞ yapmalısın</h1>
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <div class="form-group">
                              <%= f.text_field :email, placeholder: "Kullanıcı adı", class: "form-control" %>
                          </div>
                          <div class="form-group">
                            <%= f.password_field :password, placeholder: "Parola", class: "form-control" %>
                          </div>
                          <%= f.submit "Giriş yapayım", class: "btn btn-default btn-lg btn-block" %>
                      <% end %>
                      <hr>
                      <%= link_to "Parolam neydi ki benim?", new_password_path(:user) %>
                  </div>
              </div>
              <!-- /.col-xs-12 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </section>
</div>
<%= render 'home/footer' %>
